<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      Drogueria
    </a>
  </div>
</nav>
<mat-tab-group>
  <mat-tab label="Inventario Medicamentos"> <app-medicamento></app-medicamento> </mat-tab>
  <mat-tab label="Ventas"> <app-ventas></app-ventas> </mat-tab>
</mat-tab-group>


<!-- <p-toolbar style="background-color: #343a40; color: white">
  <div class="p-toolbar-group-left">
    <span>Proceso inventario</span>
  </div>
</p-toolbar>

<p-tabView>
  <p-tab title="Inventario">
    <app-medicamento></app-medicamento>
  </p-tab>
  <p-tab title="Ventas">
    <app-ventas></app-ventas>
  </p-tab>
</p-tabView> -->
