<div class="row">
  <div class="col-6">
    <mat-form-field style="margin-top: 2rem; width: 300px; margin-left: 200px;" appearance="outline">
      <mat-label>Buscar Medicamento</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Buscar medicamento"
        #input
      />
    </mat-form-field>
  </div>
  <div class="col-6" style="text-align: center; margin-top: 35px;">
    <button (click)="openModal()" style="background-color: burlywood; height: 50px;">
      Agregar Medicamento
    </button>
  </div>
</div>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="idMedicamento">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td mat-cell *matCellDef="let row">{{ row.idMedicamento }}</td>
    </ng-container>

    
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Medicamento</th>
      <td mat-cell *matCellDef="let row">{{ row.nombre }}</td>
    </ng-container>

    
    <ng-container matColumnDef="laboratorio">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Laboratorio</th>
      <td mat-cell *matCellDef="let row">{{ row.laboratorio }}</td>
    </ng-container>

    
    <ng-container matColumnDef="fechaF">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Fecha de fabricacion
      </th>
      <td mat-cell *matCellDef="let row">{{ row.fechaF }}</td>
    </ng-container>
    
    <ng-container matColumnDef="fechaV">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Fecha de vencimiento
      </th>
      <td mat-cell *matCellDef="let row">{{ row.fechaV }}</td>
    </ng-container>
    
    <ng-container matColumnDef="stock">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Stock</th>
      <td mat-cell *matCellDef="let row">{{ row.stock }}</td>
    </ng-container>
    
    <ng-container matColumnDef="valorU">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Valor unitario</th>
      <td mat-cell *matCellDef="let row">{{ row.valorU }}</td>
    </ng-container>
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Acciones</th>
      <td mat-cell *matCellDef="let row">
        <button color="basic" (click)="openModalVentas(row)">
          <mat-icon
            fontIcon="sell"
          ></mat-icon>
        </button>
        <button  color="basic" (click)="openModal(row)">
          <mat-icon
            fontIcon="edit"
          ></mat-icon>
        </button>
        <button
          color="basic"
          (click)="onDelete(row.idMedicamento)"
        >
          <mat-icon
            fontIcon="delete"
          ></mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    aria-label="Select page of periodic elements"
  >
  </mat-paginator>
</div>


<!-- <p:outputLabel for="searchInput" value="Buscar" style="margin-top: 2rem;" />
<p:inputText id="searchInput" (keyup)="applyFilter($event)" placeholder="Buscar medicamento" />

<p-dataTable [value]="dataSource" [paginator]="true" [rows]="5" [rowsPerPageOptions]="[5, 10, 20]" [sortMode]="'multiple'">
  <p-column field="idMedicamento" header="ID" sortable="true"></p-column>
  <p-column field="nombre" header="Medicamento" sortable="true"></p-column>
  <p-column field="laboratorio" header="Laboratorio" sortable="true"></p-column>
  <p-column field="fechaF" header="Fecha de fabricacion" sortable="true"></p-column>
  <p-column field="fechaV" header="Fecha de vencimiento" sortable="true"></p-column>
  <p-column field="stock" header="Stock" sortable="true"></p-column>
  <p-column field="valorU" header="Valor unitario" sortable="true"></p-column>
  <p-column header="Acciones">
    <ng-template let-row="rowData" pTemplate="body">
      <button pButton icon="pi pi-shopping-cart" class="p-button-rounded p-button-basic" (click)="openModalVentas(row)"></button>
      <button pButton icon="pi pi-pencil" class="p-button-rounded p-button-primary" (click)="openModal(row)"></button>
      <button pButton icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="onDelete(row.idMedicamento)"></button>
    </ng-template>
  </p-column>
</p-dataTable>

<button pButton icon="pi pi-plus" label="Agregar" class="p-button-raised p-button-primary mb-2 mt-2" (click)="openModal()"></button> -->

